{% extends "authorize.html" %}


{% block content%}
    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        {{ form.hidden_tag() }}
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            {% if form.username.errors %}
                            {{ form.username(class="form-input is-invalid", id="name", placeholder="Your Name") }}
                            <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
    
                            {% else %}
                            {{ form.username(class="form-input", id="name", placeholder="Your Name") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.email.errors %}
                            {{ form.email(class="form-input is-invalid", id="email", placeholder="Your Email") }}
                            <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                            </div>
    
                            {% else %}
                            {{ form.email(class="form-input", id="email", placeholder="Your Email") }}
                            {% endif %}
                            
                            
                        </div>
                        <div class="form-group">
                            {% if form.password.errors %}
                        {{ form.password(class="form-input is-invalid",  id="password", placeholder="Password") }}
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                        {{ form.password(class="form-input", id="password", placeholder="Password") }}
                        {% endif %}
                        </div>
                        <div class="form-group">
                            {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-input is-invalid",  id="re_password", placeholder="Repeat your password") }}
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="form-input",  id="re_password", placeholder="Repeat your password") }}
                        {% endif %}
                            
                            
                        </div>
                        
                        <div class="form-group">
                            {{ form.submit(id="submit", class="form-submit") }}
                           
                        </div>
                    </form>
                    <p class="loginhere">
                        Have already an account ? <a href="{{ url_for('login') }}" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
    {% endblock %}

    