{% extends "base.html" %}

{% block content%}
					
					
					<div class="page">
						<div class="row">

							<div class="col-md-12">
							<!-- <div class="bbbootstrap">
									
										<form>
											<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span> 
								<div class="container">
									<div class="row searchFilter" >
									   <div class="col-sm-12" >
										<div class="input-group" >
										 <input id="table_filter" type="text" class="form-control" aria-label="Text input with segmented button dropdown" >
										 <div class="input-group-btn" >
										  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="label-icon" >Category</span> <span class="caret" >&nbsp;</span></button>
										  <div class="dropdown-menu dropdown-menu-right" >
											 <ul class="category_filters" >
											  <li >
											   <input class="cat_type category-input" data-label="All" id="all" value="" name="radios" type="radio" ><label for="all" >All</label>
											  </li>
											  <li >
											   <input type="radio" name="radios" id="Design" value="Design" ><label class="category-label" for="Design" >Design</label>
											  </li>
											  <li >
											   <input type="radio" name="radios" id="Marketing" value="Marketing" ><label class="category-label" for="Marketing" >Marketing</label>
											  </li>
											  <li >
											   <input type="radio" name="radios" id="Programming" value="Programming" ><label class="category-label" for="Programming" >Programming</label>
											  </li>
											  <li >
											   <input type="radio" name="radios" id="Sales" value="Sales" ><label class="category-label" for="Sales" >Sales</label>
											  </li>
											  <li >
											   <input type="radio" name="radios" id="Support" value="Support" ><label class="category-label" for="Support" >Support</label>
											  </li>
											 </ul>
										  </div>
										  <button id="searchBtn" type="button" class="btn btn-secondary btn-search" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" >Search</span></button>
										 </div>
										</div>
									   </div>
									</div>
								  </div>
								  </form>
								  </div> -->


								<div class="bbbootstrap">
									
										<form action="{{url_for('index')}}" method="POST">
											
											
											
											
											<input type="text" class="InputBox" name="search_text" placeholder="ISBN/Title/Author " id="Form_Search">
											<select class="form-group form-control col-3" name="option">
												<option value="isbn">ISBN</option>
												<option value="author">Author</option>
												<option value="title">Title</option>
											</select>
											<input type="submit" id="Form_Go" class="Button" >
						
										
											
										</form>
									
								</div>
							</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 3"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 4"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 5"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 6"></a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 3"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 4"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 5"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 6"></a>
								</div>
							</div>
						</div> 
						
						
					</div>

{% endblock %}
				