{% extends "base.html" %}

{% block content%}
					
					
					<div class="page">
						<div class="row">

							<div class="col-md-12">
							


								<div class="bbbootstrap">
									
										<form action="{{url_for('index')}}" method="POST">
											
											
											
											
											<input type="text" class="InputBox" name="search_text" placeholder="ISBN/Title/Author " id="Form_Search">

											<div style="margin-left:200px; margin-top: 10px;">
											<select class="form-group form-control col-3" name="option">
												<option value="isbn">ISBN</option>
												<option value="author">Author</option>
												<option value="title">Title</option>
											</select>
										</div>
											<input type="submit" id="Form_Go" class="Button" >
						
										
											
										</form>
									
								</div>
							</div>
							</div>
						</div>

						<div class="counts section-bg">
							<h1 class="movie-title" style="text-align: center; margin-top: 30px;">Popular Books</h1>
							<div class="row ">
								{% for info in homeInfo %}
					
							  <div class="col-lg-3 col-md-2 d-md-flex align-items-md mb-5 ">
								<div class="count-box">
									<i class="fa fa-book"></i>
								  
								  <p></p>
								  <strong>{{info.title}}</strong>
								  <p>Author: {{info.author}}</p>
								  <p>ISBN: {{info.isbn}}</p>
								  <p>YEAR: {{info.year}}</p>

								</div>
							  </div>
							  {% endfor %}
							</div>
							
						</div>
						
						
						
					

{% endblock %}
				