{% extends "base.html" %}

{% block content%}
					
					
					<div class="page">
						<div class="row">

							<div class="col-md-12">

								<div class="bbbootstrap">
									
										<form>
											<span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
											<input type="text" id="Form_Search" value="" placeholder="Search for your best result in our community" role="searchbox" class="InputBox " autocomplete="off">
											<input type="submit" id="Form_Go" class="Button" value="GO">
										</form>
									
								</div>
							</div>
						</div>
						<div>
							
								<h1 style="text-align: center;">Popular Books</h1>
							
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 3"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 4"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 5"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 6"></a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 3"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 4"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 5"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie">
									<a href="#"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="Movie 6"></a>
								</div>
							</div>
						</div> 
						
						
					</div>

{% endblock %}
				