{% extends "base.html" %}

{% block content%}
					<div class="page">
						<div class="breadcrumbs">
							<a href="index">Home</a>
							<span>Search Results</span>
						</div>

						
						
						
						
						<div class="movie-list " >
							{% for book in books%}
							<div class="movie">
								<figure class="movie-poster"><img src="{{url_for('static', filename = 'images/pic.jpg')}}" alt="#"></figure>
								<div class="movie-title"><a href="single">{{book.title}}</a></div>
								<p>Author: {{book.author}}</p>
								<p>ISBN: {{book.isbn}}</p>
								<p>YEAR: {{book.year}}</p>
							</div>
							{% endfor %}
							</div>
						
							 
							
						</div> 

						
					

					{% endblock%}
				